<div class="backdrop is-hidden" data-modal>
    <div class="modal-wrapper">
        <form action="" class="auth-form">
            <div class="texfield">
                <input type="text" id="email-input">
                <label for="email-input">E-mail</label>
            </div>
            <div class="texfield">
                <input type="text" id="password-input">
                <label for="password-input">Password</label>
            </div>
            <button type="submit" id="submit" class="submit-btn" data-modal-close>Log in</button>
        
        </form>
    </div>
</div>